
nav {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  .mainNavBar {
    height: 72px;
    .logo {
      color: $blue;
      font-size: 2rem;
    }
    .navBar {
      list-style: none;
      text-align: right;
      .navBar__item {
        display: inline-block;
        .navBar__link {
          font-weight: 300;
          color: $blue;
          text-decoration: none;
          font-size: 1.4rem;
          padding: .3rem;
          &:hover {
            border-bottom: 1px solid $blue;
          }
        }
      }
    }
  }
}
