.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #3a3e64;
  font-family: 'Raleway', sans-serif;
  @include mobile {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .container {
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    @include mobile {
      flex-direction: column;
      margin-top: 0;
      align-items: center;
    }
  }
  .footer__adress {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      margin-bottom: 1rem;
    }
    .about__title,
    .adress__title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      font-size: .9rem;
      margin-bottom: 1rem;
    }
    .adress__subcontent,
    .address__content {
      color: #afb0bc;
      font-size: 1.1rem;
    }
  }
  .footer__share {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      margin-bottom: 1rem;
    }
    .share__title {
      text-transform: uppercase;
      font-size: .9rem;
      color: #fff;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .social__bar {
      display: flex;
      flex-direction: row;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e8ecee;
        @include wh(40px,40px);
        color: #e8ecee;
        cursor: pointer;
        margin-right: .3rem;
        transition: all 1s;
        &:hover {
          color: #7a7c91;
          border-color: #7a7c91;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .footer__about {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .about__title {
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: .9rem;
      color: #fff;
      font-weight: 600;
    }
    .about__content {
      color: #afb0bc;
      font-size: .9rem;
      text-align: center;
      width: 80%;
    }
  }
  .footer__copyright {
    width: 100%;
    background: #313454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    @include mobile {
      position: relative;
    }
    .copyright__text,
    .copyright__subtext {
      color: #7b7b7d;
      span {
        color: red;
      }
      span {
        color: #fff;

      }
    }
  }
}
